<!-- <header>
  <div [hidden]="!warning" class="bg-warning py-2">
   {{warningContent}}
  </div>

  <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="container">
      <a class="navbar-brand" href="#">InstaList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" routerLink="about"> About </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="submit"> Submit </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contact"> Contact </a></li>
    </ul>
    </div>
   </div>
  </nav>
  </header> -->
  <nav id="navbar_top" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">{{siteName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="submit">Add Listing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Company
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="about">About</a>
            <a class="dropdown-item" routerLink="contact">Contact</a>
            <a class="dropdown-item" routerLink="contact">Privacy Policy</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="login">Login</a>
            <a class="dropdown-item" routerLink="register">Register</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
