<div class="conatiner">
  <div class="">
    <div class="px-4 py-3 my-3 text-center">
      <img class="d-block mx-auto mb-4" [src]="logoUrl"  alt="" width="72" height="57">
      <h1 class="display-5 fw-bold">{{siteName}}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly and easily find Vegan products in Ireland. Simply start by selecting an area! Then you can browse all the products or you can select a category to choose from. If you have a suggestion please add to a suggested site to add it for free! </p>
        <div class="d-grid d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-4">Tags</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="submit">Suggest</button>
        </div>
      </div>
    </div>
  </div>


      <div class="container">


        <div class="row">
          <ng-template ngFor let-listings [ngForOf]="listings" let-i="index">

            <div class="card home-card" style="width: 18rem;">
              <img class="card-img-top" src=".../100px180/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{listings.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">{{listings.URL}}</a>
              </div>
            </div>
          </ng-template>

        </div>

      </div>



</div>

